body{
    background-color: #35064b;
    color: #f9f9fa;

}

.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1a0a;
    height: 100px;
    margin-right: auto;
    border: 1px solid transparent;

    border-image: linear-gradient(to right top, #2bf846, #2be43a, #1acf1a, #17ec3b, #038620);

    border-image-slice: 1;
    margin-left: 1%;
    


}

.icone{
    color: #C040B9;
    width: 40px;
 

}